<div class="grid">
  <div class="col-12">
    <p-card styleClass="shadow-3 m-5 text-indigo-800" header="Categorias de produtos">
      <p-table [value]="categories" [rows]="10" [paginator]="true" [responsive]="true"
        [tableStyle]="{'min-width':'75rem'}" [showCurrentPageReport]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} de {last} de {totalRecords} produtos"
        [(selection)]="categorySelected">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">
              <div class="flex justify-content-between align-items-center">
                <div class="flex justify-content-between align-items-center">
                  Nome
                </div>
                <div class="flex justify-content-between align-items-center">
                  <p-sortIcon field="name"></p-sortIcon>
                  <p-columnFilter type="text" field="name" display="menu" matchMode="contains" [showMatchModes]="false"
                    [showOperator]="false" [showAddButton]="false">
                  </p-columnFilter>
                </div>
              </div>
            </th>
            <th>
              <div class="flex justify-content-between align-items-center">
                <p-button styleClass="p-button info" icon="pi pi-plus" label="Adicionar" pTooltip="Adicionar"
                  (onClick)="handleCategoryEvent(addCategoryEvent)" tooltipPosition="top">
                </p-button>
              </div>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
          <tr>
            <td>{{ category?.name }}</td>

            <td>
              <div class="flex justify-content-center align-content-center align-items-center gap-3">
                <button pButton pRiple pTooltip="Editar Categoria" tooltipPosition="top" icon="pi pi-pencil"
                  class="p-button-rounded p-button-warning" (click)="handleCategoryEvent(editCategoryEvent,
                  category?.id, category?.name )"></button>
                <button pButton pRiple pTooltip="Deletar categoria" tooltipPosition="top" icon="pi pi-trash"
                  class="p-button-rounded p-button-danger"
                  (click)="handleDeleteCategoryEvent(category?.id, category?.name )"></button>

              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
  <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
</div>